<form>
	<div class="form-group">
		<label>Titulo</label>
		{{input type="text" class="form-control" value=model.title placeholder="Edite esta tarea..."}}
	</div>
	<div class="form-group">
		<label>Fecha límite</label>
		{{input type="date" class="form-control" value=model.date}}
	</div>
	<div class="form-group">
		<label>Descripcion</label>
		{{textarea class="form-control" value=model.description placeholder="Cambie la descripcion de esta tarea..."}}
	</div>
	<button {{action 'editTask' model.id}} class="btn btn-info">Actualizar</button>
</form>
