{{outlet}}
<h1>Tareas</h1>
{{#each model as |task|}}
  <div class="well">
    <h3><strong>{{task.title}}</strong></h3>
    <p>{{task.description}}</p>
    <small><em>Realizar tarea antes de :</em>{{format-date task.date}}</small>
  </div>
{{/each}}
